#assignment-instructions {
  font-family: sans-serif;
  color: #ff1b68;
}

.second-code {
  color: #1bffbb;
}

code {
  color: #ff1b50;
  font-family: monospace;
}

body {
  font-family: sans-serif;
}

li {
  font-family: inherit;
}

ol li:first-child {
  background-color: black;
  color: white;
}

ol > li {
  background-color: black;
  color: white;
}
